<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Projects I'm Working On</h1>
        </div>
        <hr>
    </div>
     <div class="row">
        <div class="col-md-3">
            <h3>Discover City</h3>
            <%= image_tag "discover-vancouver-blog-logo.jpg", class: "img-responsive" %>
            
            <div class="row" style="margin-top: 7px;">
                <div class="col-md-3">
                    <%= image_tag "ruby-on-rails-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "bootstrap-3-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "dropbox-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                 <div class="col-md-3">
                    <%= image_tag "heroku-logo-blog.jpg", class: "img-responsive" %>        
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <h3>The Cookie Apps</h3>
            <%= image_tag "cookie-apps-blog.jpg", class: "img-responsive" %>
            <div class="row" style="margin-top: 7px;">
                <div class="col-md-3">
                    <%= image_tag "ruby-on-rails-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "bootstrap-3-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "dropbox-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "heroku-logo-blog.jpg", class: "img-responsive" %>        
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h3>The Cookie Dining</h3>
            <%= image_tag "cookie-dining-blog.jpg", class: "img-responsive" %>
            <div class="row" style="margin-top: 7px;">
                <div class="col-md-3">
                    <%= image_tag "html-5-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "css-3-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "js-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "digital-ocean-logo-blog.jpg", class: "img-responsive" %>        
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h3>The Cookie Gateway</h3>
            <%= image_tag "cookie-gateway-blog.jpg", class: "img-responsive" %>
            <div class="row" style="margin-top: 7px;">
                <div class="col-md-3">
                    <%= image_tag "html-5-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "css-3-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "js-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "digital-ocean-logo-blog.jpg", class: "img-responsive" %>        
                </div>
            </div>
        </div>
        
    </div><!-- row -->
    
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-3">
            <h3>HipsterDolly</h3>
             <%= image_tag "hipster-dolly-blog.jpg", class: "img-responsive" %>
            <div class="row" style="margin-top: 7px;">
                <div class="col-md-3">
                    <%= image_tag "ruby-on-rails-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "bootstrap-3-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "spree-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                 <div class="col-md-3">
                    <%= image_tag "heroku-logo-blog.jpg", class: "img-responsive" %>        
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <h3>D-Lux Design</h3>
            <%= image_tag "dlux-design-store-blog-1.jpg", class: "img-responsive" %>
            <div class="row" style="margin-top: 7px;">
                <div class="col-md-3">
                    <%= image_tag "ruby-on-rails-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "bootstrap-3-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "spree-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                 <div class="col-md-3">
                    <%= image_tag "heroku-logo-blog.jpg", class: "img-responsive" %>        
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <h3>Tradesgram</h3>
            <%= image_tag "tradesgram-blog.jpg", class: "img-responsive" %>
            <div class="row" style="margin-top: 7px;">
                <div class="col-md-3">
                    <%= image_tag "ruby-on-rails-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "bootstrap-3-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "amazon-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "heroku-logo-blog.jpg", class: "img-responsive" %>        
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <h3>FreelanceJobs</h3>
            <%= image_tag "freelance-jobs-blog.jpg", class: "img-responsive" %>
            <div class="row" style="margin-top: 7px;">
                <div class="col-md-3">
                    <%= image_tag "ruby-on-rails-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "bootstrap-3-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "dropbox-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "heroku-logo-blog.jpg", class: "img-responsive" %>        
                </div>
            </div>
        </div>
    </div><!-- row -->
    
    <div class="row" style="margin-top: 30px;">
        <div class="col-md-3">
            <h3>Mothers Bookkeeping</h3>
             <%= image_tag "mothers-blog.jpg", class: "img-responsive" %>
            <div class="row" style="margin-top: 7px;">
                <div class="col-md-3">
                    <%= image_tag "ruby-on-rails-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "bootstrap-3-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "dropbox-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "heroku-logo-blog.jpg", class: "img-responsive" %>        
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h3>PBC Zap</h3>
             <%= image_tag "pbc-zap-blog.jpg", class: "img-responsive" %>
            <div class="row" style="margin-top: 7px;">
                <div class="col-md-3">
                    <%= image_tag "ruby-on-rails-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "bootstrap-3-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "dropbox-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                 <div class="col-md-3">
                    <%= image_tag "heroku-logo-blog.jpg", class: "img-responsive" %>        
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <h3>Projectify</h3>
             <%= image_tag "projectify-blog.jpg", class: "img-responsive" %>
            <div class="row" style="margin-top: 7px;">
                <div class="col-md-3">
                    <%= image_tag "ruby-on-rails-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "bootstrap-3-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "dropbox-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "heroku-logo-blog.jpg", class: "img-responsive" %>        
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h3>RestyCMS</h3>
             <%= image_tag "resty-blog.jpg", class: "img-responsive" %>
            <div class="row" style="margin-top: 7px;">
                <div class="col-md-3">
                    <%= image_tag "ruby-on-rails-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "bootstrap-3-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "dropbox-logo-blog.jpg", class: "img-responsive" %>        
                </div>
                <div class="col-md-3">
                    <%= image_tag "heroku-logo-blog.jpg", class: "img-responsive" %>        
                </div>
            </div>
        </div>
    </div><!-- row -->
    <hr>
    <div class="row">
        <h1>Looking for a developer?</h1>
        <p>I am currently open to contract work of all kinds! Say hi via <a href="https://ca.linkedin.com/in/marko-manojlović-b1b73029
" target="_blank">LinkedIn</a> or write to me at marko.manojlovic.bg[at]gmail.com</p>
    </div>
</div>